language: php

php:
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

before_script:
    - travis_retry composer self-update
    - travis_retry composer --prefer-source --dev install

script:
  - mkdir -p build/logs
  - phpunit --configuration build/phpunit.xml
