language: php

php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

before_script:
    - travis_retry composer remove phploc/phploc --update-with-dependencies

script:
  - ant travis

after_success:
  - travis_retry php vendor/bin/coveralls -v
